<nav class="navbar" role="navigation">

  <div id="navbar" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink=""  class="navbar-item">
        Home
      </a>
      <a routerLink="/createuser" class="navbar-item">
        Create A User
      </a>
      <a routerLink="/edituser" class="navbar-item">
        Update A User
      </a>
      <a routerLink="/createmovie" class="navbar-item">
        Create A Movie
      </a>
      <a routerLink="/viewmovie"class="navbar-item">
        View A Movie
      </a>
      <a routerLink="/rentreturnmovie" class="navbar-item">
        Rent/Return Movie
      </a>
    </div>
  </div>
</nav>
