html, body {
  min-height: 100%;
}
body, div, form, input, select, textarea, label, p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Helvetica;
  font-size: 14px;
  color: rgb(0, 0, 0);
  line-height: 22px;
}
h1 {
  position: absolute;
  margin: 0;
  font-size: 40px;
  color: black;
  z-index: 2;
  line-height: 83px;
}
textarea {
  width: calc(100% - 12px);
  padding: 5px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
}
form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 25px  #66B2FF;
}
.banner {
  position: relative;
  height: 200px;
  background-color: #66B2FF;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.image{
  right: 40px;
  width: 250px;
  height: 200px;
  display: block;
  margin-left: 450px;
  margin-right: auto;
  background-image: url("movie.png");
  background-repeat: no-repeat;
  background-size: 250px;
}

.banner::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.171);
  position: absolute;
  width: 100%;
  height: 100%;
}
input, select, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  width: calc(100% - 10px);
  padding: 5px;
}
input{
  padding: 4px 5px;
}
textarea {
  width: calc(100% - 12px);
  padding: 5px;
}
.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color:  #66B2FF;
}
.item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 12px 0  #66B2FF;
  color: black;
}
.item {
  position: relative;
  margin: 10px 0;
}
.item2{
  width: 48%;
}

.week {
  display:flex;
  justfiy-content:space-between;
}
.colums {
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  flex-wrap:wrap;
}
.colums div {
  width:48%;
}

.btn-block {
  margin-top: 10px;
  text-align: center;
}
button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background:  #66B2FF;
  font-size: 16px;
  color: black;
  cursor: pointer;
}
button:hover {
  background:  #668aff;
}
@media (min-width: 568px) {
  .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .name-item input, .name-item div {
    width: calc(50% - 20px);
  }
  .name-item div input {
    width:97%;}
  .name-item div label {
    display:block;
    padding-bottom:5px;
  }
}


