<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="viewmovies.component.css">
  <style>
  </style>
</head>
<body>
<div class="banner">
  <h1 class="h1">View all Movies</h1>
</div>

<table id="customers" class="movies">
  <tr>
    <th>Movie ID</th>
    <th>Movie Title</th>
    <th>Release Date</th>
    <th>Stock Amount</th>
    <th>Publisher</th>
    <th>Genre</th>
    <th>Price</th>
    <th>Main Actors</th>
  </tr>
  <tr>
    <td>123ed-23434ac</td>
    <td>Mission Impossible</td>
    <td>7 August 2015</td>
    <td>3</td>
    <td>Christopher McQuarrie</td>
    <td>Action/Adventure</td>
    <td>R40</td>
    <td>Tom Cruise, Rebecca Ferguson, Jeremy Renner</td>
  </tr>
  <tr>
    <td>155ed-34532dc</td>
    <td>Insidious 3</td>
    <td>5 June 2016</td>
    <td>4</td>
    <td>Stage 6 Films, Blumhouse Production</td>
    <td>Horror/Thriller</td>
    <td>R50</td>
    <td>Stefanie Scott, Dermot mulroney, Patrick Wilson</td>
  </tr>
  <tr>
    <td>821tr-76234fs</td>
    <td>Spider-Man: No Way home</td>
    <td>17 December 2021</td>
    <td>0</td>
    <td>Columbia Pictures, Marvel Studios</td>
    <td>Action/Adventure</td>
    <td>R80</td>
    <td>Tom Halland, Zendaya, Jamie Foxx</td>
  </tr>
</table>

</body>
</html>

